foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e47b5ec0-b4ad-4e68-bb21-e0e68e9b2962" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Hanuma@5" database="sample" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="b55c5630-553d-40a3-935c-e4705b582f66" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Hanuma@5" database="ashok" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb790598-d787-4b67-b39a-c0d263e7553f" >
		<http:listener-connection host="localhost" port="8084" />
	</http:listener-config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="749296f6-682d-4058-b366-4b75a570235a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Hanuma@5" database="ashok" />
	</db:config>
	<db:config name="Database_Config3" doc:name="Database Config" doc:id="d33c1ef0-092b-4eaa-9b76-1e921f7563c1" >
		<db:my-sql-connection host="localhost " port="3306" user="root" password="Hanuma@5" database="ashok" />
	</db:config>
	<flow name="foreachFlow" doc:id="319d2f03-c337-44d3-97b8-c2bc7986c3ee" >
		<http:listener doc:name="Listener" doc:id="afc624c9-1c99-40bd-88f2-a09e83d488ca" path="foreach" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="d091f256-65e0-4dfc-a00f-b36704c29f34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 10 map
{
id: if ($$==6) "mule" else 200 + $$,
name: "ashok",
location: "hyd"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="542a510a-ea7e-4ce1-9c22-786df6223aa0" >
			<logger level="INFO" doc:name="Logger" doc:id="89591b84-54e2-42de-84f3-c641b675ceed" message="#[payload]"/>
			<db:insert doc:name="Insert" doc:id="98f2f458-9d4d-4b0b-951d-d84bc038d49d" config-ref="Database_Config3">
				<db:sql ><![CDATA[INSERT INTO data (id, name, location)
VALUES (:id, :name, :location);]]></db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
		</parallel-foreach>
	</flow>
</mule>
